In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/purchase_data.csv"

In [3]:
heroes_df = pd.read_csv(file_to_load)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
heroes_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
player_count = len(heroes_df["SN"].unique())
player_count_df = pd.DataFrame({"Player Count": [player_count]})

player_count_df

   Player Count
0           576

In [6]:
unique_items = len(heroes_df["Item Name"].unique())
average_price = heroes_df["Price"].mean()
number_purchases = len(heroes_df["Purchase ID"])
revenue = heroes_df["Price"].sum()

def format(x):
    return "${:.2f}".format(x)

heroes_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                "Average Price": [average_price],
                                "Number of Purchases": [number_purchases],
                                "Total Revenue": [revenue]})

heroes_analysis["Average Price"] = heroes_analysis["Average Price"].apply(format)
heroes_analysis["Total Revenue"] = heroes_analysis["Total Revenue"].apply(format)

heroes_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [48]:
heroes_gender = heroes_df.groupby(["SN","Gender"])
heroes_gender_df = pd.DataFrame(heroes_gender.size())

heroes_gender_df1 = pd.DataFrame(heroes_gender_df.groupby(["Gender"]).count())
#heroes_gender_df1 = heroes_gender_df1.reindex(['Male', 'Female', 'Other/Non-Disclosed'])

heroes_gender_df1.columns = ["Total Count"]

def format(x):
    return "{:.2f}%".format(x)

heroes_gender_df1["Percentage of Players"] = (heroes_gender_df1["Total Count"])/(heroes_gender_df1["Total Count"].sum())*100
heroes_gender_df1["Percentage of Players"] = heroes_gender_df1["Percentage of Players"].apply(format)

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [64]:
grouped_gender_df = heroes_df.groupby(["Gender"])

def format(x):
    return "${:.2f}".format(x)

count = grouped_gender_df["Gender"].count()
total_price = grouped_gender_df[("Price")].sum()
average_purchase = grouped_gender_df[("Price")].mean() 
average_total_perperson = total_price / count

average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64